<% if (typeof hasSignedInUser !== 'undefined' && hasSignedInUser) { %>
<div class="myspace-section">
  <div class="flame-divider scam-hidden" id="scamGifContainer">
    <p class="sidebar-advertisement-header">Advertisement <span>▼</span></p>
    <img
      id="scamGif"
      class="clickable"
      src="/images/scam.gif"
      alt="definitely a scam add"
    />
  </div>
</div>
<% } %>
